{% extends "base.html.twig" %}

{% block body %}
    <div class="flex-container-center">
        <div class="login-form">
            <h1 class="form-title">
                Connexion
            </h1>
            <form action="/login" method="POST">
                <input name="email" type="text" placeholder="Email">
                <input name="password" type="password" placeholder="Mot de passe">
                <input name="submit" type="submit" value="Se connecter">
            </form>
            <p class="form-comment">Retour à l'accueil <a href="/">ICI</a></p>
        </div>
    </div>
{% endblock %}