{% extends "base.html.twig" %}

{% block body %}
    <form action="/register" method="POST">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="password" placeholder="Mot de passe">
        <input name="submit" type="submit" value="S'inscrire">
    </form>

    <a href="/">Retour à l'accueil</a>
{% endblock %}