html, body {
  height: 100%;
  width: 100%;
  background-color: $lightgrey;
}

.block-body {
  @include flex-center;
  height: calc(100% - 65px);
  width: 100%;
  height: 100%;
}

.only-tablet {
  @media (min-width: 1200px) {
    display: none!important;
  }
}

.only-desktop {
  @media (max-width: 1200px) {
    display: none!important;
  }
}