.flex-container-center {
  @include flex-center;
  height: calc(100% - 65px);
}

.login-form {
  background-color: white;
  border-radius: 25px;
  width: fit-content;

  @media (max-width: 600px) {
    margin: 16px;
  }

  .form-title {
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 96px;
  }
  form {
    padding: 0 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      width: 100%;
      font-size: 18px;
      margin: 8px;
      padding: 12px 12px 12px 24px;
      font-family: "Noto Sans";
      font-weight: 400;
      color: $green-primary;
      border: 2px solid $lightgrey;
      border-radius: 15px;

      &:focus, &:focus-visible {
        background-color: $lightgrey;
        border: 2px solid $green-primary;
        outline: $green-primary;
      }
    }
    input[type=submit] {
      background-color: $green-primary;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: darken($green-primary, 10);
        color: darken(white, 10);
      }
    }
  }
  .form-comment {
    border-top: 2px solid $darkblue;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 24px;
    background-color: #EBEEF0;

    text-align: center;

    a {
      font-weight: bold;
    }
  }
}