.navbar {
  @media (min-width: 1200px) {
    height: 64px;
  }

  background-color: white;

  display: flex;
  justify-content: space-between;

  .menus {
    &--left {
      justify-content: flex-start;

      .logo {
        @include flex-center;
        background-color: $green-primary;

        height: 40px;
        width: 160px;
        border-radius: 10px;
        margin: 0 12px;

        h1 {
          color: white;
        }
      }
    }

    &--right {
      justify-content: flex-end;

      .icons {
        .icon {
          margin: 0 16px;

          &--param {

          }
          svg {

          }
        }
      }
    }

    &--left, &--right {
      display: flex;
      align-items: center;
      align-content: center;

      .menu {
        font-family: "Noto Sans";
        font-weight: 400;
        margin: 0 24px;
        line-height: 54px;

        p {

        }

        &-active {
          position: relative;

          &:after {
            position: absolute;
            content: '';
            height: 5px;
            border-radius: 5px 5px 0 0;


            /******
            optional values below
            ******/

            /* center - (optional) use with adjusting width   */
            left: 0;
            right: 0;
            background: $green-primary;
          }
        }
      }

      .sidebar {
        display: flex;
        flex-direction: column;

        .sidebar-top {
          display: flex;
          align-items: center;

          height: 64px;

          .sidebar-icon {
            margin: 4px 4px 0 8px;
            cursor: pointer;
          }

          #sidebar-icon-open {

          }
          #sidebar-icon-close {
            display: none;
          }
        }

        #sidebar-menus {
          height: 100%;
          width: 0;
          opacity: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #EBEEF0;
          overflow-x: hidden;
          transition: 0.5s;
          margin-top: 64px;
          padding-top: 16px;

          .sidebar-split {
            background-color: $green-primary;
            height: 2px;
            width: 75%;
            margin: 16px auto;
          }

          a {
            padding: 8px 32px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
        }
      }
    }
  }
}