#sidebar-menus {
  transition: all 1s ease-in-out;
}

/**
    COLORS
 */
$lightgrey: #F5F8FA;
$green-primary: #419932;
$darkblue: #344563;


/**
    FONTS
 */

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("../fonts/OpenSansCondensed-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSansDisplay-Medium.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSansDisplay-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/**
    TYPOGRAPHY
 */
h1 {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, input, textarea, button {
  color: $darkblue;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
}