{% extends "base.html.twig" %}

{% block body %}
    <form action="/tasks/edit/{{ task.id }}" method="POST">
        <input name="title" type="text" placeholder="Titre" value="{{ task.title }}">
        <input name="submit" type="submit" value="Modifier">
    </form>

    <a href="/tasks">Retourner à la liste des tâches</a>
{% endblock %}