{% extends "base.html.twig" %}

{% block body %}
    <h1>Liste des tâches</h1>
    <h4><a href="/tasks/new">Ajouter une nouvelle tâche</a></h4>
    <table>
        <thead>
            <th>ID</th>
            <th>Title</th>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td><a href="/tasks/show/{{ task.id }}">{{ task.id }}</a></td>
                    <td>{{ task.title }}</td>
                    <td><a href="/tasks/edit/{{ task.id }}">edit</a></td>
                    <td><a href="/tasks/delete/{{ task.id }}">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}