{% extends "base.html.twig" %}

{% block body %}
    <form action="/tasks/new" method="POST">
        <input name="title" type="text" placeholder="Titre">
        <input name="submit" type="submit" value="Ajouter">
    </form>

    <a href="/tasks">Retourner à la liste des tâches</a>
{% endblock %}