{% extends "base.html.twig" %}

{% block body %}
    <h1>Liste des images</h1>
    <h4><a href="/images/new">Ajouter une nouvelle image</a></h4>
    <table>
        <thead>
        <th>ID</th>
        <th>Filename</th>
        <th>Filesize</th>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="/images/show/{{ image.id }}">{{ image.id }}</a></td>
                <td>{{ image.filename }}</td>
                <td><a href="/images/delete/{{ image.id }}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}