{% extends "base.html.twig" %}

{% block body %}
    <form action="/images/new" method="POST" enctype="multipart/form-data">
        <input name="image" type="file" placeholder="Fichier image">
        <input name="submit" type="submit" value="Ajouter">
    </form>

    <a href="/images">Retourner à la liste des images</a>
{% endblock %}