{% extends "base.html.twig" %}

{% block body %}
    <h1>Détail de l'image : {{ image.id }}</h1>
    <h2>Filename : {{ image.filename }}</h2>
    <h2>Filesize : {{ image.filesize }}</h2>

    <img src="{{ image.filename }}" alt=":)">

    <p><a href="/">Retour à l'accueil</a></p>
{% endblock %}