<div class="navbar">
    <div class="menus--left">
        <div class="sidebar only-tablet">
            <div class="sidebar-top">
                <div class="sidebar-icon">
                    <div id="sidebar-icon-open" class="sidebar-icon ">
                        <svg width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="30" height="5" fill="#419932"/>
                            <rect y="9" width="30" height="5" fill="#419932"/>
                            <rect y="18" width="30" height="5" fill="#419932"/>
                        </svg>
                    </div>
                    <div id="sidebar-icon-close" class="sidebar-icon">
                        <svg width="30" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.939341 10.9393C0.353554 11.5251 0.353554 12.4749 0.939341 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939341 10.9393ZM21 10.5L2 10.5V13.5L21 13.5V10.5Z" fill="#419932"/>
                        </svg>
                    </div>
                </div>
                <div class="logo">
                    <h1>AppliStage</h1>
                </div>
            </div>
            <div id="sidebar-menus">
                <a href=""><h2>Accueil</h2></a>
                <a href=""><h2>Planning Cybersécurité du logiciel</h2></a>
                <div class="sidebar-split"></div>
                <a href=""><h2>Connexion</h2></a>
                <a href=""><h2>Paramètres</h2></a>
            </div>
        </div>
        <div class="logo only-desktop">
            <a href="">
                <h1>AppliStage</h1>
            </a>
        </div>
        <a href="">
            <div class="menu only-desktop">
                <h2>Accueil</h2>
            </div>
        </a>

        <a href="">
            <div class="menu menu-active only-desktop">
                <h2>Planning Cybersécurité du logiciel</h2>
            </div>
        </a>
    </div>

    <div class="menus--right only-desktop">
        <a href="">
            <div class="menu">
                <h2>Connexion</h2>
            </div>
        </a>
        <div class="icons">
            <a href="">
                <div class="icon icon--param">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.8281 14.8125L20.8125 13.6875C21.0469 12.5625 21.0469 11.4844 20.8125 10.3594L22.8281 9.23438C23.0625 9.09375 23.1562 8.8125 23.0625 8.57812C22.5469 6.89062 21.6562 5.39062 20.5312 4.125C20.3438 3.9375 20.0625 3.89062 19.8281 4.03125L17.8125 5.15625C16.9688 4.45312 16.0312 3.89062 15 3.51562V1.21875C15 0.984375 14.8125 0.75 14.5312 0.703125C12.7969 0.28125 11.0625 0.328125 9.42188 0.703125C9.14062 0.75 9 0.984375 9 1.21875V3.51562C7.92188 3.89062 6.98438 4.45312 6.14062 5.20312L4.125 4.03125C3.89062 3.89062 3.60938 3.9375 3.42188 4.125C2.29688 5.39062 1.40625 6.89062 0.890625 8.57812C0.796875 8.8125 0.890625 9.09375 1.125 9.23438L3.14062 10.3594C2.95312 11.4844 2.95312 12.5625 3.14062 13.6875L1.125 14.8125C0.890625 14.9531 0.796875 15.2344 0.890625 15.4688C1.40625 17.1562 2.29688 18.6562 3.42188 19.9219C3.60938 20.1094 3.89062 20.1562 4.125 20.0156L6.14062 18.8906C6.98438 19.5938 7.92188 20.1562 9 20.5312V22.8281C9 23.0625 9.1875 23.2969 9.42188 23.3906C11.1562 23.7656 12.8906 23.7188 14.5312 23.3906C14.8125 23.2969 15 23.0625 15 22.8281V20.5312C16.0312 20.1562 16.9688 19.5938 17.8125 18.8906L19.8281 20.0156C20.0625 20.1562 20.3438 20.1094 20.5312 19.9219C21.7031 18.6562 22.5469 17.1562 23.1094 15.4688C23.1562 15.2344 23.0625 14.9531 22.8281 14.8125ZM12 15.75C9.89062 15.75 8.25 14.1094 8.25 12C8.25 9.9375 9.89062 8.25 12 8.25C14.0625 8.25 15.75 9.9375 15.75 12C15.75 14.1094 14.0625 15.75 12 15.75Z" fill="#344563"/></svg>
                </div>
            </a>
        </div>
    </div>
</div>
