<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% block title %}Home{% endblock %}{% block title_suffix %} - AppliStage{% endblock %}</title>

    <link rel="stylesheet" href="/assets/dist/main.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'includes/_topbar.html.twig' %}
    {% block body %}{% endblock %}

    <script src="/assets/dist/main.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>