{% extends "base.html.twig" %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil</h1>
    <h3><a href="/tasks">Voir la liste des tâches</a></h3>
    <h3><a href="/images">Voir la liste des images</a></h3>
    <h3></h3>
    <h3><a href="/login">Se connecter</a> | <a href="/logout">Se DÉconnecter</a> | <a href="/register">Inscription</a></h3>
{% endblock %}